header .logo a{
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: -99990px;
    position: relative;
    top: -9px
}

header .logo.home a{
    background-image: url("images/home\ logo.png");
    left: -105px;
}
header .logo.art a{
    background-image: url("images/art\ logo.png");
    left: -85px;
}
header .logo.games a{
    background-image: url("images/games\ logo.png");
    left: -115px;
}
header .logo.contact a{
    background-image: url("images/contact\ logo.png");
    left: -125px;
}

.contactlists img{
    position: relative;
    width: 28px;
    top: 6px;
}