.logo a{
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: -99990px;
    position: relative;
    top: -9px
}

/*Header*/
.logo.title{ 
    background-image: url("images/vilancat\ title.png");
    background-repeat: no-repeat;
    background-size: 150px auto ;
    /* width: 530px;
    height: 110px; */ 
}
.logo.home a{
    background-image: url("images/home\ logo.png");
    left: -105px;
}
.logo.art a{
    background-image: url("images/art\ logo.png");
    left: -85px;
}
.logo.games a{
    background-image: url("images/games\ logo.png");
    left: -115px;
}
.logo.contact a{
    background-image: url("images/contact\ logo.png");
    left: -125px;
}

/*Home page*/
.about img{
    width: 200px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    color: rgb(0, 191, 255);
}
.highlight img{
    width: 100%;
    margin-bottom: 20px;
}

/*Games page*/
.logo.itchio a{
    background-image: url("images/itchio\ logo.png");
    left: -20px;
}
.gamespage.logo.itchio a{
    left: -35px;
}
.screenshot img{
    width: 365px;
    height: 300px;
}
.screenshot img:first-of-type{
    margin-right: 20px;
}
.screenshot.nutbascat img{
    width: 300px;
    height: 400px;
}
.screenshot.nutbascat img:first-of-type{
    width: 415px;
    height: 300px;
    position: relative;
    top: -50px;
}

/*Art page*/
.gallery img{
    width: 100%;
    height: auto;
}

/*Contact page*/
.contactlists img{
    position: relative;
    width: 28px;
    top: 6px;
}